
<ion-content class="root">
    
  <ion-tabs  class="tab">

    <ion-tab-bar  slot="bottom">
      <ion-tab-button tab="ToDoList" (click)="todo()">
        <ion-icon name="list-circle-outline"></ion-icon>
        <ion-label>To-Do List</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ToDoList2" (click)="todo2()">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Tasks</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Profile" (click)="profile()">
        <ion-icon name="happy-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  
  </ion-tabs>
    <ion-card class="card" color="Light">

        <ion-card-header>
          <ion-card-title class="title">Tasks</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <ion-item class="item" color="Light">
              <ion-label position="floating">Write your Tasks</ion-label>
              <ion-input ngModel name="tasks"type="tasks" required></ion-input>
          </ion-item>
          <ion-button class="button2" color="Light" name="submit" type="submit" size="large" >Done</ion-button>
        </form>
          </ion-card-content>
          
  </ion-card>
 
</ion-content>