.root {
    --ion-background-color: #a2d5dc;
}

.card{
	background-color: rgb(242, 247, 247);
	height: 450px;
	
}

.item{
	background: rgb(242, 247, 247);

}
.title{

	font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.button2{

    color: #000000;
    background-color: #a2d5dc;
    margin-left: 30px;
    margin-top:190px;
    border-radius: 10px;
    width: 140px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: none;
}