<ion-header>

</ion-header>

<ion-content class="root">

    <ion-card class="card" color="Light">

        <ion-card-header>
          <ion-card-title class="title">Login</ion-card-title>
          <ion-card-subtitle class="subtitle">Welcome Back!</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <ion-item class="item" color="Light">
                <ion-label position="floating">Username</ion-label>
                <ion-input ngModel name="username" type="name" required></ion-input>
            </ion-item>

            <ion-item class="item" color="Light">
                <ion-label position="floating">Password</ion-label>
                <ion-input ngModel name="password" type="password" required></ion-input>
            </ion-item>

                <ion-button class="button2" color="Light" size="large" type="submit">Login</ion-button>
        </form>
        </ion-card-content>

      </ion-card>
   

    

</ion-content>
