<ion-header>

</ion-header>

<ion-content class="root">
    <ion-card class="card" color="Light">

        <ion-card-header>
          <ion-card-title class="title">Sign Up</ion-card-title>
          <ion-card-subtitle class="subtitle">You are on the Right Track!</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>

            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <ion-item class="item" color="Light">
                <ion-label position="floating">Name</ion-label>
                <ion-input ngModel placeholder="Name" type="name" name="name" required></ion-input>
            </ion-item>
          
            <ion-item class="item" color="Light">
                <ion-label position="floating">Username</ion-label>
                <ion-input ngModel placeholder="Username"type="name"name="username" required></ion-input>
            </ion-item>

            <ion-item class="item" color="Light">
                <ion-label position="floating">Password</ion-label>
                <ion-input ngModel placeholder="Password" type="password" name="password" required></ion-input>
            </ion-item>

            <ion-item class="item" color="Light">
                <ion-label position="floating">Email</ion-label>
                <ion-input ngModel placeholder="Email" type="email" name="email" required></ion-input>
            </ion-item>
            <ion-button class="button2" color="Light" name="submit" type="submit" size="large" >Sign Up</ion-button>
        </form>

                
        
        </ion-card-content>

      </ion-card>
   

</ion-content>
