
<ion-content class="root">
    
  <ion-tabs  class="tab">

    <ion-tab-bar  slot="bottom">
      <ion-tab-button tab="ToDoList" (click)="todo()">
        <ion-icon name="list-circle-outline"></ion-icon>
        <ion-label>To-Do List</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ToDoList2" (click)="todo2()">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Tasks</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Profile" (click)="profile()">
        <ion-icon name="happy-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  
  </ion-tabs>
    <ion-card class="card" color="Light">

        <ion-card-header>
          <ion-card-title class="title">Tasks</ion-card-title>
        </ion-card-header>

        <ion-text>Tasks History</ion-text>
        
          <ion-card-content *ngFor="let item of task">
            <ion-checkbox class="box" color="light" size="small" checked="false"></ion-checkbox>
            <ion-text class="text">{{item.tasks}}</ion-text>

          </ion-card-content>
  </ion-card>
 
</ion-content>