.root {
    --ion-background-color: #a2d5dc;
}

.card{
    background-color: rgb(242, 247, 247);
    height:380px;   
}
.title{
    text-align: center;
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;
}

.button2{

color: #000000;
background-color: #a2d5dc;
margin-top: 10px;
margin-left: 65px;
border-radius: 10px;
width: 120px;
font-size: 12px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-transform: none;
}
